@charset "UTF-8";

body {
  font-family: "Noto Sans JP", "Raleway",sans-serif;
  color: #323232;
}
img {
  max-width: 100%;
  display: block;
}
.inner {
  width: 100%;
  max-width: 957px;
  margin: 0 auto;
}
.sectionTitle {
  text-align: center;
}
.sectionTitle p {
  font-size: 28px;
  color: #FF406C;
  line-height: 1.6;
}
.sectionTitle h2 {
font-size: 50px;
line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .sectionTitle p {
    font-size: 16px;
  }
  .sectionTitle h2 {
    font-size: 29px;
  }

}

/**********
* ヘッダー
**********/

.headerContainer {
  height: 92px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px 28px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.headerContainer.transparent {
  background-color: transparent;
}

.headerLogo h1 {
  font-family: "Raleway"
    sans-serif;
  font-size: 33px;
  letter-spacing: 3.3px;
  line-height: 1.15;
}
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navList li {
  font-size: 23px;
  line-height: 1.7;
  margin-right: 37px;

}
.navList li:last-child {
  margin-right: 0;
  color: #fff;
  background: #FF406C;
  padding: 17px 63px;
  border-radius: 9px;
}
.hamburgerMnue {
  display: none;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    height: 65px;
    position: static;
    padding: 20px 30px;
    box-sizing: border-box;
  }
  .headerLogo h1 {
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 1.1;
  }
  .headerNav {
    display: none;
  }
  .hamburgerMnue {
    display: block;
  }
  .hamburger-overlay {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 37px;
    height: 3px;
    background-color: #FF406C;
    transition: all .6s;
  }

  .hamburger-overlay__line:nth-of-type(1) {
    top: 14px;
  }

  .hamburger-overlay__line:nth-of-type(2) {
    top: 23px;
  }

  .hamburger-overlay__line:nth-of-type(3) {
    top: 32px;
  }

  .hamburger-overlay.active .hamburger-overlay__line {
    background-color: #fff;
  }

  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }

  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 768px;
    height: auto;
    background-color: #FF406C;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    z-index: 900;
  }

  .nav-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  .nav-overlay__content {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    padding-top: 65px;
    padding-left: 42px;
    margin-bottom: 204px;
    /* text-align: center; */
  }

  .nav-overlay__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-overlay__item {
    opacity: 0;
    transform: translateY(20px);
    transition: all .6s;
  }

  .nav-overlay.active .nav-overlay__item {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-overlay.active .nav-overlay__item:nth-child(1) {
    transition-delay: 0.1s;
  }

  .nav-overlay.active .nav-overlay__item:nth-child(2) {
    transition-delay: 0.2s;
  }

  .nav-overlay.active .nav-overlay__item:nth-child(3) {
    transition-delay: 0.3s;
  }

  .nav-overlay.active .nav-overlay__item:nth-child(4) {
    transition-delay: 0.4s;
  }

  .nav-overlay__link {
    display: inline-block;
    /* padding: 20px; */
    color: #fff;
    font-size: 24px;
    line-height: 1.45;
    text-decoration: none;
    transition: color .3s;
  }

  .nav-overlay__link:hover {
    color: #4a90e2;
  }
  .contactInfo {
    padding-left: 42px;
    margin-bottom: 44px;
  }
  .contanctLogo {
    font-size: 29px;
    line-height: 1.1;
    letter-spacing: 2.9px;
    color: #fff;
    margin-bottom: 7px;
  }
  .contactNumber,
  .contactMail {
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 1px;
  }



}

/**********
* イントロダクション
**********/

.intro {
  width: 100%;
  /* height: calc(100vh - 92px); */
  height: 100vh;
  background: url("../inc/image/mv_bg.png") no-repeat center center;
  background-size: cover;
}
.introContainer {
  padding-top: 304px;
}
.intro h2 {
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 4.2px;
  color: #fff;
  margin-bottom: 68px;
}
.intro p {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1.8px;
  color: #fff;
}
.intro.sp_br {
  display: none;
}
@media screen and (max-width: 768px) {
  .intro {
    background: url("../inc/image/mv_bg_sp.png") no-repeat center top;
    background-size: cover;
  }
  .introContainer {
    padding-top: 200px;
  }
  .intro h2 {
    font-size: 24px;
    line-height: 1.37;
    letter-spacing: 2.4px;
    margin-bottom: 40px;
    margin-left: 23px;
  }
  .intro p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.4px;
    margin-left: 23px;
  }
  .intro.sp_br {
    display: block;
  }

}
/**********
* About
**********/
.about {
  /* margin-top: 77px; */
  padding-bottom: 174px;
}
.aboutList {
  display: flex;
  gap: 36px;
  padding-top: 99px;
}
.abuutItem {
  width: calc((100% - 72px) /3);
}
.aboutItem img {
  width: 295px;
  height: 307px;
  padding: 47px 48px 55px;
  border-radius: 21px;
  border: 1px solid #00000029;
  box-shadow: 0 0 12px #00000029;

  /* margin-bottom: 62px; */
}
.heading {
  display: flex;
  align-items: first baseline;
  margin-bottom: 10px;
}
.heading_name {
  font-size: 16px;
  color: #FF406C;
  line-height: 1.68;
}
.heading_num {
  font-size: 96px;
  font-weight: 100;
  letter-spacing: -4.32px;
  color: #FF406C;
  margin-left: auto;
}

.aboutItem_title {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.15px;
  line-height: 1.5;
  margin-bottom: 9px;
}
.aboutItem_desc {
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .aboutList {
    flex-direction: column;
    padding: 0 40px;
    gap: 64px 0;
  }
  .abuutItem {
    width: 100%;
    margin-bottom: 36px;
  }
  .aboutItem img {
    width: 100%;
    height: auto;
    padding: 24px;
    margin-bottom: 0;
  }
  .heading_num {
    font-size: 72px;
    letter-spacing: -3.2px;
  }

}

/**********
* Service
**********/
.service {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 215px;
  background: #EFEFEF;
}
.serviceItem{
  margin-top: 107px;
  display: flex;
  gap: 74px 57px;
}
.serviceItem:nth-child(even) {
  flex-direction: row-reverse;
}


.serviceItem_subTitle {
  padding-top: 21px;
  font-size: 21px;
  line-height: 1.6;
  color: #FF406C;
}
.serviceItem_title {
  font-size: 32px;
  line-height: 1.8;
  font-weight: bold;
}
.serviceItem_text {
  font-size: 18px;
  line-height: 1.9;
}
/* フェードインアニメーション */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .serviceItem {
    flex-direction: column;
    gap: 0 0;
    padding: 0 40px;
  }
  .serviceItem:nth-child(even) {
    flex-direction: column;
  }
  .serviceItem_subTitle {
    padding-top: 0;
    font-size: 18px;
  }
  .serviceItem_title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .serviceItem_text {
    font-size: 16px;
    line-height: 1.7;
  }
}


/**********
* Blog
**********/
.blog {
  width: 100%;
  padding-top: 107px;
  padding-bottom: 107px;
}

/*タブ切り替え*/
.tabs {
  width: 100%;
  max-width: 100%;
  /* margin: 10% auto; */
  margin-bottom: 107px;
  margin-top: 103px;
}

.tab-list {
  width: 100%;
  /* max-width: 957px; */
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 77px;
}

.tab-item {
  border-radius: 5px 5px 0 0;
  color: #EFEFEF;
  background-color: #FF406CB7;
  border: solid 1px #FF406CB7;
  font-size: 22px;
  line-height: 1.6;
  padding: 6px 0;
  cursor: pointer;
  width: calc(100% / 4);
  text-align: center;
}

.tab-content {
  background-color: #fff;
}

.tab-panel {
  display: none;
}

.tab-item.active {
  background-color: #FF406C;
  padding: 11px 0 10px;
}
.tab-panel.active {
  display: block;
  padding: 11px 0;;
}
.tab-panel_list {
  display: flex;
  gap: 0 30px;


}
.tab-panel_item {
  width: calc(100% / 4);

  background-color: #fff;
  /* margin-right: 30px; */
}
.tab-panel_category {
  font-size: 15px;
  line-height: 1.46;
  color: #FF406C;
  margin-bottom: 9px;
}
.tab-panel_title {
  font-size: 17px;
  line-height: 1.64;
  font-weight: bold;
  margin-bottom: 7px;
}
.tab-panel_text {
  font-size: 10px;
  line-height: 1.7;

}

.tab-panel.active h2 {
  font-size: 20px;
  font-weight: bold;
}
.blogButton {
  display: block;
  margin: 0 auto;
  width: 238px;
  height: 68px;
  background: #FF406C;
  color: #fff;
  text-align: center;
  font-size: 19px;
}
@media screen and (max-width: 768px) {
  .blog {
    padding-bottom: 42px;
  }
  .tabs {
    margin: 0 auto;
    padding: 0 40px;
  }
  .tab-list {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .tab-item {
    width: calc(100% / 2);
    font-size: 16px;
    padding: 10px 0;
  }
  .tab-panel_list {
    flex-wrap: wrap;
    gap: 15px;
  }
  .tab-panel_item {
    width: calc((100% - 15px) / 2);
    margin-bottom: 0;
  }
  .tab-panel_category {
    font-size: 9px;
    margin-bottom: 9px;
  }
  .tab-panel_title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .tab-panel_text {
    font-size: 10px;
  }
  .tab-panel_img {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 13px;
  }
  .blogButton {
    display: none;
  }

}
/**********
* Contact
**********/

.contact {
  width: 100%;
  padding-top: 67px;
  padding-bottom: 80px;
  background: #EFEFEF;
}
.contact .sectionTitle {
  text-align: left;
  margin-bottom: 31px;
}
.contactDesc {
  font-size: 20px;
  line-height: 2.5;
  letter-spacing: 2px;
  margin-bottom: 56px;
}
.contactConteiner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 19px;
}
.telSide {
  width: 50%;
  height: auto;
  text-align: center;
  background-color: #fff;
  padding-bottom: 22px;

}
.telLead {
  display: flex;
  gap:0 62px;
  padding-top: 33px;
  justify-content: center;

}
.telTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 1.5px;
}
.telTime {
  font-size: 12px;
  font-weight: bold;
  color: #8B8B8B;
  line-height: 2.4;
  letter-spacing: 1.2px;
}
.telNumber {
  font-size: 37px;
  font-weight: bold;
  line-height: 2.1;
  color: #FF406C;
  text-align: center;

}
.telNumber span {
  margin-right: 9px;
}
.mailSide {
  width: 50%;
  height: auto;
  text-align: center;
  background-color: #fff;
  padding-bottom: 22px;
  padding-top: 33px;
}
.mailTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 1.5px;
  margin-bottom: 16px;

}
.mailAdress {
  font-size: 27px;
  font-weight: bold;
  line-height: 2.1;
  color: #FF406C;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact {
    padding-bottom: 42px;
  }
  .contact .inner {
    padding: 0 18px;
  }
  .contactTitle p {
    font-size: 16px;
    line-height: 1.65;
  }
  .contactTitle h2 {
    font-size: 29px;
    line-height: 1.65;
  }
  .contactDesc {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.4px;
    margin-bottom: 16px;
  }
  .contactConteiner {
    flex-direction: column;
    align-items: center;
  }
  .telSide, .mailSide {
    width: 100%;
    margin-bottom: 30px;
  }
  .telLead {
    flex-direction: column;
    gap: 0;
    padding-top: 19px;
  }

}

footer {
  width: 100%;
  height: 60px;
  background-color: #323232;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 3.2;
}
