@charset "UTF-8";

body {
  font-family: "Noto Sans JP", "Raleway",sans-serif;
  color: #323232;
}
.inner {
  width: 100%;
  max-width: 957px;
  margin: 0 auto;
}
.sectionTitle {
  text-align: center;
}
.sectionTitle p {
  font-size: 28px;
  color: #FF406C;
  line-height: 1.6;
}
.sectionTitle h2 {
font-size: 50px;
line-height: 1.6;
}

.headerContainer {
  height: 92px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px 28px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.headerContainer.transparent {
  background-color: transparent;
}

.headerLogo h1 {
  font-family: "Raleway"
    sans-serif;
  font-size: 33px;
  letter-spacing: 3.3px;
  line-height: 1.15;
}
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navList li {
  font-size: 23px;
  line-height: 1.7;
  margin-right: 37px;

}
.navList li:last-child {
  margin-right: 0;
  color: #fff;
  background: #FF406C;
  padding: 17px 63px;
  border-radius: 9px;
}

/**********
* イントロダクション
**********/

.intro {
  width: 100%;
  height: calc(100vh - 92px);
  background: url("../inc/image/mv_bg.png") no-repeat center center;
  background-size: cover;
}
.introContainer {
  padding-top: 304px;
}
.intro h2 {
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 4.2px;
  color: #fff;
  margin-bottom: 68px;
}
.intro p {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1.8px;
  color: #fff;
}
/**********
* About
**********/
.about {
  margin-top: 77px;
  padding-bottom: 174px;
}
.aboutList {
  display: flex;
  gap: 36px;
  padding-top: 99px;
}
.abuutItem {
  width: calc((100% - 72px) /3);
}
.aboutItem img {
  width: 295px;
  height: 307px;
  padding: 47px 48px 55px;
  border-radius: 21px;
  border: 1px solid #00000029;
  box-shadow: 0 0 12px #00000029;

  /* margin-bottom: 62px; */
}
.heading {
  display: flex;
  align-items: first baseline;
  margin-bottom: 10px;
}
.heading_name {
  font-size: 16px;
  color: #FF406C;
  line-height: 1.68;
}
.heading_num {
  font-size: 96px;
  font-weight: 100;
  letter-spacing: -4.32px;
  color: #FF406C;
  margin-left: auto;
}

.aboutItem_title {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.15px;
  line-height: 1.5;
  margin-bottom: 9px;
}
.aboutItem_desc {
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 1.6;
}

/**********
* Service
**********/
.service {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 215px;
  background: #EFEFEF;
}
.serviceItem{
  margin-top: 107px;
  display: flex;
  gap: 74px 57px;
}
.serviceItem:nth-child(even) {
  flex-direction: row-reverse;
}


.serviceItem_subTitle {
  padding-top: 21px;
  font-size: 21px;
  line-height: 1.6;
  color: #FF406C;
}
.serviceItem_title {
  font-size: 32px;
  line-height: 1.8;
  font-weight: bold;
}
.serviceItem_text {
  font-size: 18px;
  line-height: 1.9;
}
/* フェードインアニメーション */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/**********
* Blog
**********/
.blog {
  width: 100%;
  padding-top: 107px;
  padding-bottom: 107px;
}

/*タブ切り替え*/
.tabs {
  width: 100%;
  max-width: 100%;
  /* margin: 10% auto; */
  margin-bottom: 107px;
  margin-top: 103px;
}

.tab-list {
  width: 100%;
  max-width: 957px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 77px;
}

.tab-item {
  border-radius: 5px 5px 0 0;
  color: #EFEFEF;
  background-color: #FF406CB7;
  border: solid 1px #FF406CB7;
  font-size: 22px;
  line-height: 1.6;
  padding: 6px 0;
  cursor: pointer;
  width: calc(100% / 4);
  text-align: center;
}

.tab-content {
  background-color: #fff;
}

.tab-panel {
  display: none;
}

.tab-item.active {
  background-color: #FF406C;
}
.tab-panel.active {
  display: block;
  padding: 11px 0;;
}
.tab-panel_list {
  display: flex;
  gap: 0 30px;


}
.tab-panel_item {
  width: calc((100%) / 4);

  background-color: #fff;
  /* margin-right: 30px; */
}
.tab-panel_category {
  font-size: 15px;
  line-height: 1.46;
  color: #FF406C;
  margin-bottom: 9px;
}
.tab-panel_title {
  font-size: 17px;
  line-height: 1.64;
  font-weight: bold;
  margin-bottom: 7px;
}
.tab-panel_text {
  font-size: 10px;
  line-height: 1.7;

}

.tab-panel.active h2 {
  font-size: 20px;
  font-weight: bold;
}
.blogButton {
  display: block;
  margin: 0 auto;
  width: 238px;
  height: 68px;
  background: #FF406C;
  color: #fff;
  text-align: center;
  font-size: 19px;
}

.contact {
  width: 100%;
  padding-top: 67px;
  padding-bottom: 80px;
  background: #EFEFEF;
}
.contact .sectionTitle {
  text-align: left;
  margin-bottom: 31px;
}
.contactDesc {
  font-size: 20px;
  line-height: 2.5;
  letter-spacing: 2px;
  margin-bottom: 56px;
}
.contactConteiner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 19px;
}
.telSide {
  width: 50%;
  height: auto;
  text-align: center;
  background-color: #fff;
  padding-bottom: 22px;

}
.telLead {
  display: flex;
  gap:0 62px;
  padding-top: 33px;
  justify-content: center;

}
.telTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 1.5px;
}
.telTime {
  font-size: 12px;
  font-weight: bold;
  color: #8B8B8B;
  line-height: 2.4;
  letter-spacing: 1.2px;
}
.telNumber {
  font-size: 37px;
  font-weight: bold;
  line-height: 2.1;
  color: #FF406C;
  text-align: center;

}
.telNumber span {
  margin-right: 9px;
}
.mailSide {
  width: 50%;
  height: auto;
  text-align: center;
  background-color: #fff;
  padding-bottom: 22px;
  padding-top: 33px;
}
.mailTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 1.5px;
  margin-bottom: 16px;

}
.mailAdress {
  font-size: 27px;
  font-weight: bold;
  line-height: 2.1;
  color: #FF406C;
  align-items: center;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #323232;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 3.2;
}
